@page "/EndPage"
@inject NavigationManager NavigationManager

<div class="container">

    <div class="header">

        <h1>CryptoWars</h1>

    </div>

    <div class="contener">
        <div class="row h-50">
            <div class="col">
                <h1></h1>
                <h2>THANK YOU FOR USING OUR APP</h2>
            </div>
        </div>

        <div class="row h-50">
            <div class="col">
                <button class="btn btn-primary"
                @onclick="@(e => NavigationManager.NavigateTo("/"))">
                    Exit
                </button>
            </div>
        </div>
    </div>

    <div class="footer">

            <div class="row">
                <div class="col">
 
                </div>

                <div class="col">
                    <button class="btn btn-primary"
                    @onclick="@(e => NavigationManager.NavigateTo("/"))">
                        START AGAIN
                    </button>
                </div>
            </div>
        
    </div>
</div>


@code {





}   
